fastapi
uvicorn[standard]
motor
crewai
chromadb
pdfplumber
sentence-transformers
pydantic-settings
python-multipart
pandas
joblib
scikit-learn
httpx
langchain
langchain-community
langchain-ollama
litellm
ollama
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
